@import "@wildberries/ui-kit/lib/styles/constants.module.scss";
@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.List-home-page {
  background-color: #e5e5e5;
  box-sizing: border-box;
  height: 100vh;

  &__list-wrapper {
    box-sizing: border-box;
    padding: 32px;
  }
}

@media #{$tablet} {
  .List-home-page {
    &__list-wrapper {
      display: flex;
      justify-content: center;
      padding: 24px;
      width: 100%;
    }
  }
}

@media #{$mobile} {
  .List-home-page {
    &__list-wrapper {
      padding: 16px;
    }
  }
}

@media #{$mobile-small} {
  .List-home-page {
    &__list-wrapper {
      padding: 8px;
    }
  }
}
