@import "@wildberries/ui-kit/lib/styles/constants.module.scss";
@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.Main {
  background-color: #e5e5e5;
  box-sizing: border-box;
  height: 100vh;
  padding: 32px;
  width: 100vw;
}

@media #{$tablet} {
  .Main {
    padding: 24px;
  }
}

@media #{$mobile} {
  .Main {
    padding: 16px;
  }
}

@media #{$mobile-small} {
  .Main {
    padding: 8px;

  }
}
