@import "@wildberries/ui-kit/lib/styles/constants.module.scss";
@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.Card {
  background-color: $White;
  box-sizing: border-box;
  margin: 2em 5em;
  padding: 1em;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 600px;

  }
}

@media #{$tablet} {
  .Card {
    margin: 1em;

    &__content-wrapper {
      max-width: 570px;
      min-width: 300px;
      padding: 0 40px;
      width: fit-content;
    }
  }
}

@media #{$mobile} {
  .Card {
    margin: 1em;
    width: 380px;

    &__content-wrapper {
      padding: 0;
      width: 350px;
    }
  }
}
