@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.ToDoForm {
  gap: 18px;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
  }

  &__button-block {
    display: flex;
    gap: 14px;
    justify-content: flex-end;
  }
}

@media #{$tablet} {
  .ToDoForm {
    &__form {
      gap: 12px;
    }
    &__button-block {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}


@media #{$mobile} {
  .ToDoForm {
    &__form {
      gap: 10px;
    }
    &__button-block {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

@media #{$mobile-small} {
  .ToDoForm {
    &__form {
      gap: 10px;
    }
    &__button-block {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
